.boxHeader {
  background-color: rgb(18, 14, 3);
  border: solid rgb(242, 195, 9) 6px;
  border-style: double;
  color: rgb(255, 221, 0);
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
}
