.boxMain {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.boxMenuFilter {
  background-color: rgb(154, 82, 82);
  color: whitesmoke;
  text-align: center;
}

#tableStarWars {
  border: solid rgb(112, 36, 36) 2px;
}

.headerTable {
  background-color: rgb(193, 98, 61);
  border: solid rgb(112, 36, 36) 2px;
  font-size: 15px;
}

.bodyTable {
  border: solid rgb(112, 36, 36) 2px;
  font-size: 14px;
}
